!
logging buffered {{ LOGGIN_BUFFERED }}
logging console informational
logging monitor informational
logging synchronous level all
!
service routing protocols model multi-agent
!
hostname {{ HOSTNAME }}