---
data:
  TERMINAL_LENGTH: {{ TERMINAL_LENGTH }}
  TERMINAL_WIDTH: {{ TERMINAL_WIDTH }}
  SPANNING_TREE_MODE: {{ SPANNING_TREE_MODE }}
  CLOCK_TIMEZONE: {{ CLOCK_TIMEZONE }}
  LOGGIN_BUFFERED: {{ LOGGIN_BUFFERED }}
  MGMT_VRF: {{ MGMT_VRF }}
  MGMT_INTERFACE: {{ MGMT_INTERFACE }}
  MGMT_GW: {{ MGMT_GW }}
  ARP_AGING: {{ ARP_AGING }}
  MAC_AGING: {{ MAC_AGING }}
  ADMIN_USER_NAME: {{ ADMIN_USER_NAME }}
  ADMIN_USER_PW: {{ ADMIN_USER_PW }}
  ADMIN_PRIVILEGE: {{ ADMIN_PRIVILEGE }}
connection_options:
  netmiko:
    extras:
      timeout: 20