<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<lab name="{{ NAME }}" version="1" scripttimeout="300" lock="0" author="4">
  <topology>
    <nodes>
    {%-for SPINE in SPINES%}
      <node id="{{ SPINES[SPINE].ID }}" name="{{ SPINE }}" type="qemu" template="veos" image="{{ EOS_VERSION }}" console="telnet" cpu="{{ CPU }}" cpulimit="{{ CPU }}" ram="{{ RAM }}" ethernet="{{ ETHERNET }}" uuid="" qemu_options="-machine type=pc,accel=kvm -serial mon:stdio -nographic -display none -no-user-config -rtc base=utc -boot order=d" qemu_version="2.4.0" qemu_arch="x86_64" qemu_nic="e1000" delay="0" icon="{{ SWITCH_ICON }}" config="{{ SPINES[SPINE].CONFIG }}" left="{{ SPINES[SPINE].LEFT }}" top="{{ SPINES[SPINE].TOP }}">
      {%-if NET%}
        <interface id="0" name="Mgmt1" type="ethernet" network_id="9999"/>
      {%-endif%}
      {%-for INTERFACE in INTERFACES%}
        {%-if (INTERFACES[INTERFACE].START == SPINE)%}
        <interface id="{{ INTERFACES[INTERFACE].S_ID }}" name="{{ INTERFACES[INTERFACE].SPORT }}" type="ethernet" network_id="{{ INTERFACE }}"/>
        {%-endif%}
        {%-if (INTERFACES[INTERFACE].END == SPINE)%}
        <interface id="{{ INTERFACES[INTERFACE].E_ID }}" name="{{ INTERFACES[INTERFACE].EPORT }}" type="ethernet" network_id="{{ INTERFACE }}"/>
        {%-endif%}
      {%-endfor%}
      </node>
    {%-endfor%}
    {%-for LEAF in LEAFS%}
      <node id="{{ LEAFS[LEAF].ID }}" name="{{ LEAF }}" type="qemu" template="veos" image="{{ EOS_VERSION }}" console="telnet" cpu="{{ CPU }}" cpulimit="{{ CPU }}" ram="{{ RAM }}" ethernet="{{ ETHERNET }}" uuid="" qemu_options="-machine type=pc,accel=kvm -serial mon:stdio -nographic -display none -no-user-config -rtc base=utc -boot order=d" qemu_version="2.4.0" qemu_arch="x86_64" qemu_nic="e1000" delay="0" icon="{{ SWITCH_ICON }}" config="{{ LEAFS[LEAF].CONFIG }}" left="{{ LEAFS[LEAF].LEFT }}" top="{{ LEAFS[LEAF].TOP }}">
      {%-if NET%}
        <interface id="0" name="Mgmt1" type="ethernet" network_id="9999"/>
      {%-endif%}
      {%-for INTERFACE in INTERFACES%}
        {%-if (INTERFACES[INTERFACE].START == LEAF)%}
        <interface id="{{ INTERFACES[INTERFACE].S_ID }}" name="{{ INTERFACES[INTERFACE].SPORT }}" type="ethernet" network_id="{{ INTERFACE }}"/>
        {%-endif%}
        {%-if (INTERFACES[INTERFACE].END == LEAF)%}
        <interface id="{{ INTERFACES[INTERFACE].E_ID }}" name="{{ INTERFACES[INTERFACE].EPORT }}" type="ethernet" network_id="{{ INTERFACE }}"/>
        {%-endif%}
      {%-endfor%}
      </node>
    {%-endfor%}
    </nodes>
    <networks>
    {%-if NET%}
      <network id="9999" type="pnet1" name="Net" left="50" top="50" visibility="1"/>
    {%-endif%}
    {%-for INTERFACE in INTERFACES%}
      <network id="{{ INTERFACE }}" type="bridge" name="{{ INTERFACES[INTERFACE].START }}{{ INTERFACES[INTERFACE].SPORT }}_{{ INTERFACES[INTERFACE].END }}{{ INTERFACES[INTERFACE].EPORT }}" left="0" top="0" visibility="0"/>
    {%-endfor%}
    </networks>
  </topology>
  {%-if CONFIGS%}
  <objects>
    <configs>
      {%-for CONFIG in CONFIGS%}
      <config id="{{ CONFIG }}">{{ CONFIGS[CONFIG] }}</config>
      {%-endfor%}
    </configs>
  </objects>
  {%-endif%}  
</lab>
